extends templates/_layout

block vars

block title
  title Gyan | Namanyay Goel

//
  6 items:
  * Collisions
  * SHM
  * ACGen
  * Equipot
  * LCC++
  * Video

block content 
  header
    h1 Gyan
    h2.subtitle A collection of creations that make learning easier.
    h3.credits By <a href="http://namanyayg.com/">Namanyay Goel</a>

  .creations
    .creation.collisions
      a(href="http://projects.namanyayg.com/collisions")
        .creation__overlay
        .creation__img
          img(src="img/collisions.png")
        .creation__text
          .creation__name Collisions <span class="type">Simulator</span>
    .creation.equipot
      a(href="http://projects.namanyayg.com/Equipot")
        .creation__overlay
        .creation__img
          img(src="img/equipot.png")
        .creation__text
          .creation__name Equipotential Surfaces <span class="type">Simulator</span>
    .creation.acgen
      a(href="http://projects.namanyayg.com/acgen")
        .creation__overlay
        .creation__img
          img(src="img/acgen.png")
        .creation__text
          .creation__name AC Generator <span class="type">Simulator</span>
    .creation.lccpp
      a(href="http://namanyayg.com/lccpp")
        .creation__overlay
        .creation__img
          img(src="img/lccpp.png")
        .creation__text
          .creation__name Less Confusing C++ <span class="type">Book</span>
    .creation.shm-simulator
      a(href="http://projects.namanyayg.com/SHM-simulator")
        .creation__overlay
        .creation__img
          img(src="img/shm-simulator.png")
        .creation__text
          .creation__name Simple Harmonic Motion <span class="type">Simulator</span>
    .creation.ac-video
      a(href="https://www.youtube.com/watch?v=Y6v1jzIAcYQ&feature=youtu.be")
        .creation__overlay
        .creation__img
          img(src="img/ac-video.png")
        .creation__text
          .creation__name On AC Generators <span class="type">Video</span>
      
